.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.characterCard {
	background-color: #000000;
	color: #f78f3f; 

}

.characterCard img{
	border-radius: 100%;
}

.pinkBorder {
	border: 2px solid pink;

}


